################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/.vs/WindowsFormsApplication1/FileContentIndex/1290910c-966b-4a24-9a16-1dcac40bd5e4.vsidx
