USE [master]
GO
/****** Object:  Database [ontap]    Script Date: 3/22/2024 2:12:18 PM ******/
CREATE DATABASE [ontap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ontap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ontap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ontap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ontap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ontap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ontap]
GO
USE [ontap]
GO
/****** Object:  Table [dbo].[DANGKYCUNGCAP]    Script Date: 3/22/2024 2:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKYCUNGCAP](
	[MaDKCC] [nvarchar](7) NOT NULL,
	[MaNhaCC] [nvarchar](8) NOT NULL,
	[MaLoaiDV] [nvarchar](6) NOT NULL,
	[DongXe] [nvarchar](15) NOT NULL,
	[MaMP] [nvarchar](5) NOT NULL,
	[NgayBatDauCungCap] [datetime] NOT NULL,
	[NgayKetThucCungCap] [datetime] NOT NULL,
	[SoLuongXeDangKy] [int] NULL,
 CONSTRAINT [PK_DANGKYCUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaDKCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGXE]    Script Date: 3/22/2024 2:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGXE](
	[DongXe] [nvarchar](15) NOT NULL,
	[HangXe] [nvarchar](10) NOT NULL,
	[SoChoNgoi] [int] NOT NULL,
 CONSTRAINT [PK_DONGXE] PRIMARY KEY CLUSTERED 
(
	[DongXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 3/22/2024 2:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[MaLoaiDV] [nvarchar](6) NOT NULL,
	[TenLoaiDV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUCPHI]    Script Date: 3/22/2024 2:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCPHI](
	[MaMP] [nvarchar](5) NOT NULL,
	[DonGia] [nvarchar](7) NOT NULL,
	[MoTa] [nvarchar](30) NULL,
 CONSTRAINT [PK_MUCPHI] PRIMARY KEY CLUSTERED 
(
	[MaMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 3/22/2024 2:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNhaCC] [nvarchar](8) NOT NULL,
	[TenNhaCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](30) NOT NULL,
	[SoDT] [varchar](15) NULL,
	[MaSoThue] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNhaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANGKYCUNGCAP] ([MaDKCC], [MaNhaCC], [MaLoaiDV], [DongXe], [MaMP], [NgayBatDauCungCap], [NgayKetThucCungCap], [SoLuongXeDangKy]) VALUES (N'DK001', N'NCC001', N'DV01', N'Hiace', N'MP01', CAST(N'2015-11-20T00:00:00.000' AS DateTime), CAST(N'2016-11-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DANGKYCUNGCAP] ([MaDKCC], [MaNhaCC], [MaLoaiDV], [DongXe], [MaMP], [NgayBatDauCungCap], [NgayKetThucCungCap], [SoLuongXeDangKy]) VALUES (N'DK002', N'NCC002', N'DV02', N'Vios', N'MP02', CAST(N'2015-11-20T00:00:00.000' AS DateTime), CAST(N'2017-11-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DANGKYCUNGCAP] ([MaDKCC], [MaNhaCC], [MaLoaiDV], [DongXe], [MaMP], [NgayBatDauCungCap], [NgayKetThucCungCap], [SoLuongXeDangKy]) VALUES (N'DK003', N'NCC003', N'DV03', N'Escape', N'MP03', CAST(N'2017-11-20T00:00:00.000' AS DateTime), CAST(N'2018-11-20T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[DONGXE] ([DongXe], [HangXe], [SoChoNgoi]) VALUES (N'Cerato', N'KIA', 7)
INSERT [dbo].[DONGXE] ([DongXe], [HangXe], [SoChoNgoi]) VALUES (N'Escape', N'Ford', 5)
INSERT [dbo].[DONGXE] ([DongXe], [HangXe], [SoChoNgoi]) VALUES (N'Forte', N'KIA', 5)
GO
INSERT [dbo].[LOAIDICHVU] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'DV01', N'Dịch vụ xe taxi')
INSERT [dbo].[LOAIDICHVU] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'DV02', N'Dịch vụ xe buýt công cộng theo tuyến cố định')
INSERT [dbo].[LOAIDICHVU] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'DV03', N'Dịch vụ cho thuê xe theo hợp đồng')
GO
INSERT [dbo].[MUCPHI] ([MaMP], [DonGia], [MoTa]) VALUES (N'MP01', N'10000', N'Áp dụng từ ngày 1/2015')
INSERT [dbo].[MUCPHI] ([MaMP], [DonGia], [MoTa]) VALUES (N'MP02', N'15000', N'Áp dụng từ ngày 2/2015')
INSERT [dbo].[MUCPHI] ([MaMP], [DonGia], [MoTa]) VALUES (N'MP03', N'20000', N'Áp dụng từ ngày 1/2010')
GO
INSERT [dbo].[NHACUNGCAP] ([MaNhaCC], [TenNhaCC], [DiaChi], [SoDT], [MaSoThue]) VALUES (N'NCC001', N'Cty TNHH Toàn Phát', N'Hai Chau', N'051133999888', N'568941')
INSERT [dbo].[NHACUNGCAP] ([MaNhaCC], [TenNhaCC], [DiaChi], [SoDT], [MaSoThue]) VALUES (N'NCC002', N'Cty Cổ Phần Đông Du', N'Lien Chieu', N'051133999889', N'456789')
INSERT [dbo].[NHACUNGCAP] ([MaNhaCC], [TenNhaCC], [DiaChi], [SoDT], [MaSoThue]) VALUES (N'NCC003', N'Ông Nguyễn Văn A', N'Hoa Thuan', N'051133999890', N'321456')
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP]  WITH CHECK ADD  CONSTRAINT [PK_DANGKYCUNGCAP_DongXe] FOREIGN KEY([DongXe])
REFERENCES [dbo].[DONGXE] ([DongXe])
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP] CHECK CONSTRAINT [PK_DANGKYCUNGCAP_DongXe]
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP]  WITH CHECK ADD  CONSTRAINT [PK_DANGKYCUNGCAP_MaLoaiDV] FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LOAIDICHVU] ([MaLoaiDV])
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP] CHECK CONSTRAINT [PK_DANGKYCUNGCAP_MaLoaiDV]
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP]  WITH CHECK ADD  CONSTRAINT [PK_DANGKYCUNGCAP_MaMP] FOREIGN KEY([MaMP])
REFERENCES [dbo].[MUCPHI] ([MaMP])
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP] CHECK CONSTRAINT [PK_DANGKYCUNGCAP_MaMP]
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP]  WITH CHECK ADD  CONSTRAINT [PK_DANGKYCUNGCAP_MaNhaCC] FOREIGN KEY([MaNhaCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCC])
GO
ALTER TABLE [dbo].[DANGKYCUNGCAP] CHECK CONSTRAINT [PK_DANGKYCUNGCAP_MaNhaCC]
GO
USE [master]
GO
